@font-face {
	font-family: 'COWBOY';
	src: url('./../fonts/COWBOY-Regular.woff2') format('woff2'),
		url('./../fonts/COWBOY-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: 'El Camino Soft Edges Caps';
	src: url('./../fonts/ElCamino-SoftEdgesCaps.woff2') format('woff2'),
		url('./../fonts/ElCamino-SoftEdgesCaps.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

:root {
	--color-black: #000000;
	--color-white: #ffffff;
	--color-gray: #c4c4c4;
	--color-yellow: #f68908;
	--color-tomato-light: #de523b;
	--color-orange: #ea5a23;
	--color-beige: #ecddc0;

	--font-family-cowboy: 'COWBOY', 'Impact', 'Arial Black', sans-serif;
	--font-family-el-camino-soft-edges-caps: 'El Camino Soft Edges Caps',
		'Arial Rounded MT Bold', sans-serif;

	--transition-duration: 0.2s;

	--container-width: 1200px;
	--container-padding-x: 29px;

	--container-fluid-width: 1440px;

	--border-height: 7px;
	--border: var(--border-height) solid var(--color-tomato-light);
}

body {
	font-family: var(--font-family-cowboy);
	font-size: 16px;
	line-height: 1.375;
	color: var(--color-white);
	background-color: var(--color-black);
}

a {
	color: inherit;
}

button {
	display: block;
	padding: 0;
	font: inherit;
	background-color: transparent;
	border: none;
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

:is(.container, .container-fluid) {
	padding-inline: var(--container-padding-x);
	margin-inline: auto;
}

.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
}

.container-fluid {
	max-width: calc(
		var(--container-fluid-width) + var(--container-padding-x) * 2
	);
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.description *:first-child {
	margin-top: 0;
}

.description *:last-child {
	margin-bottom: 0;
}

.description :is(h1, h2, h3, h4, h5, h6) {
	margin-block: 62px 35px;
	line-height: 1.5;
	color: var(--color-beige);
}

.description h1 {
	font-size: 28px;
}

.description h2 {
	font-size: 26px;
}

.description h3 {
	font-size: 24px;
}

.description h4 {
	font-size: 22px;
}

.description h5 {
	font-size: 20px;
}

.description h6 {
	font-size: 18px;
}

.description :is(p, ul) {
	margin-block: 28px;
}

.description a {
	color: var(--color-yellow);
}

.title {
	font-family: var(--font-family-el-camino-soft-edges-caps);
	font-size: 60px;
	line-height: 1;
	text-align: center;
	color: var(--color-yellow);
}

.title-secondary {
	font-size: 70px;
	letter-spacing: -0.07em;
	text-align: center;
	color: var(--color-beige);
}

.section {
	background-image: url(--bgJpgUrl);
	background-image: -webkit-image-set(
		var(--bgWebpUrl) type('image/webp'),
		var(--bgJpgUrl) type('image/jpeg')
	);
	background-image: image-set(
		var(--bgWebpUrl) type('image/webp'),
		var(--bgJpgUrl) type('image/jpeg')
	);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.section:not(:last-child) {
	border-bottom: var(--border);
}

.card {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.card__media {
	overflow: hidden;
	order: -1;
	width: 100%;
	aspect-ratio: 1;
	margin-bottom: 32px;
	background-color: var(--color-gray);
	border-radius: 60px;
}

.card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__header {
	margin-bottom: 30px;
}

.card__title {
	font-size: 17px;
	letter-spacing: -0.15em;
}

.card__button {
	padding: 15px 26px;
	font-family: var(--font-family-el-camino-soft-edges-caps);
	font-size: 20px;
	line-height: 1;
	text-decoration: none;
	background-color: var(--color-yellow);
	border-radius: 30px;
	transition: opacity var(--transition-duration);
}

/* page chefs */

.buy {
	position: relative;
	display: flex;
	align-items: center;
	height: 70px;
	margin-bottom: 100px;
	background-color: var(--color-yellow);
	border-bottom: var(--border);
}

.buy__link {
	position: absolute;
	inset: 0;
}

.buy__list {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 10px;
	overflow-x: hidden;
}

.buy__item {
	font-size: 25px;
	letter-spacing: -0.2em;
	text-transform: uppercase;
	white-space: nowrap;
}

.meet {
	display: flex;
	flex-direction: column;
	row-gap: 73px;
	background-position: top -140px right;
}

.meet__header {
	display: flex;
	flex-direction: column;
	row-gap: 13px;
	text-align: center;
}

.meet__description {
	font-size: 24px;
	color: var(--color-beige);
}

.meet__list-item:nth-child(even) .card-person .card-person__social-link {
	text-decoration-color: var(--color-tomato-light);
}

.meet__list-item:nth-child(even) .card-person .card-person__social-link svg {
	color: var(--color-white);
}

.meet__list-item:nth-child(even) .card-person .card-person__social-link span {
	color: var(--color-tomato-light);
}

.card-person__inner {
	--container-width: 1035px;

	display: flex;
	align-items: center;
	column-gap: 66px;
	padding-block: 32px;
}

.card-person__media {
	overflow: hidden;
	max-width: 415px;
	width: 100%;
	aspect-ratio: 1.083;
	border-radius: 60px;
	background-color: var(--color-gray);
}

.card-person__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-person__body {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	max-width: 554px;
	padding-block: 30px;
}

.card-person__title {
	font-size: 36px;
	letter-spacing: -0.15em;
}

.card-person__social-link {
	display: flex;
	align-items: center;
	column-gap: 13px;
}

.card-person__social-link svg {
	color: var(--color-black);
	transition: scale var(--transition-duration);
}

/* faq */

.faq {
	padding-bottom: 120px;
}

.faq__inner {
	--container-width: 1025px;

	display: flex;
	flex-direction: column;
	row-gap: 169px;
}

/* section "Meet the celebrity Chefs" */

.celebrity-chefs {
	padding-block: 90px 100px;
}

.celebrity-chefs__inner {
	--container-width: 1346px;

	display: flex;
	flex-direction: column;
	row-gap: 78px;
}

.celebrity-chefs__title {
	padding-inline: 80px;
	text-wrap: balance;
}

.celebrity-chefs__list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: start;
	gap: 48px 24px;
}

.video {
	padding-block: 105px 117px;
}

.video__inner {
	--container-width: 1141px;

	display: flex;
	flex-direction: column;
	row-gap: 54px;
}

.video__body iframe {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

/* footer */

.footer {
	padding-block: 26px 29px;
	border-top: var(--border);
}

.footer__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 16px;
}

.footer__description {
	font-size: 20px;
	letter-spacing: -0.12em;
	text-transform: uppercase;
	color: var(--color-beige);
	text-align: end;
}

.soc1al-list {
	display: flex;
	align-items: center;
	column-gap: 30px;
}

.soc1al-list__link {
	transition: color var(--transition-duration);
}

/* media */

@media (any-hover: hover) {
	.soc1al-list__link:hover {
		color: var(--color-orange);
	}

	.card-person__social-link[href]:not([href='']):not([href='/']):hover svg {
		scale: 1.05;
	}

	.card__button:hover {
		opacity: 0.8;
	}
}

@media (any-hover: none) {
	.soc1al-list__link:active {
		color: var(--color-orange);
	}

	.card-person__social-link[href]:not([href='']):not([href='/']):active svg {
		scale: 1.05;
	}

	.card__button:active {
		opacity: 0.8;
	}
}

@media (max-width: 1280px) {
	.buy__item:nth-last-child(2),
	.buy__item:nth-last-child(1) {
		display: none;
	}

	.celebrity-chefs__list {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 1024px) {
	.title {
		font-size: 48px;
	}

	.title-secondary {
		font-size: 54px;
	}

	.buy {
		margin-bottom: 60px;
	}

	.buy__item:nth-last-child(3) {
		display: none;
	}

	.meet {
		row-gap: 63px;
	}

	.meet__description {
		font-size: 20px;
	}

	.card-person__inner {
		column-gap: 32px;
	}

	.card-person__body {
		max-width: 440px;
	}

	.card-person__title {
		font-size: 28px;
	}

	.card-person__description {
		font-size: 14px;
		line-height: 22px;
	}

	.faq__inner {
		row-gap: 169px;
	}

	.celebrity-chefs__title {
		padding-inline: 15px;
	}

	.celebrity-chefs__list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 767px) {
	.bg {
		background-position: bottom left;
	}

	.section {
		background-position: bottom left;
	}

	.section--bg-mobile-hidden {
		background-image: none;
	}

	.title {
		font-size: 32px;
	}

	.title-secondary {
		font-size: 36px;
	}

	.buy__list {
		column-gap: 4px;
	}

	.buy__item:nth-last-child(4) {
		display: none;
	}

	.meet {
		background-position: bottom -140px center;
	}

	.meet__header {
		row-gap: 29px;
	}

	.meet__description {
		font-size: 16px;
	}

	.card-person__inner {
		flex-direction: column;
	}

	.card-person__body {
		padding-block: 26px 0;
	}

	.card-person__title {
		font-size: 20px;
	}

	.card-person__description {
		font-size: 12px;
	}

	.faq {
		padding-bottom: 80px;
	}

	.faq__inner {
		row-gap: 43px;
	}

	.description :is(h1, h2, h3, h4, h5, h6) {
		margin-block: 68px 20px;
		font-size: 20px;
	}

	.description :is(p, ul) {
		margin-block: 10px;
	}

	.description p {
		font-size: 12px;
	}

	.celebrity-chefs {
		padding-block: 45px 71px;
	}

	.celebrity-chefs__inner {
		row-gap: 75px;
	}

	.celebrity-chefs__list {
		grid-template-columns: repeat(2, 1fr);
	}

	.video {
		padding-block: 62px 58px;
		background-position: bottom right;
	}

	.footer {
		padding: 59px;
	}

	.footer__inner {
		flex-direction: column;
		row-gap: 43px;
	}

	.footer__description {
		text-align: center;
	}
}

@media (max-width: 567px) {
	.title-secondary {
		font-size: 24px;
	}

	.buy__item:nth-last-child(5) {
		display: none;
	}

	.card-person__inner {
		padding-inline: 50px;
	}

	.celebrity-chefs__inner {
		--container-padding-x: 60px;
	}

	.celebrity-chefs__title {
		padding-inline: 0;
	}

	.celebrity-chefs__list {
		grid-template-columns: 1fr;
	}

	.card__media {
		margin-bottom: 23px;
		aspect-ratio: 0.845;
	}

	.card__header {
		margin-bottom: 26px;
	}
}
